.banner-container {
  position: relative;
}
.banner-container::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #3a71ea;
  opacity: 0.5;
}
.about_img_res_home {
  width: 65%;
}
button#home {
  display: none !important;
}
button#home {
  display: none !important;
}
.card {
  border: unset !important;
}
.serviceitem {
  background-color: #fff;
  color: #000;
  font-family: DubaiBold;
  border-radius: 2%;
  width: 100%;
  border: 1px solid #3a71ea;
  height: 400px;
}
.serviceitem .post-slide {
  padding: 20px;
  height: 60vh;
}

.serviceitem .post-slide .custom-img-div {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceitem .post-slide .custom-img-div img {
  padding: 20px 0px;
  height: 200px;
}
.serviceitem .post-slide .service-type-title {
  font-size: 24px;
  font-family: DubaiLight;
  color: #3a71ea;
  text-align: left;
}

.serviceitem .post-slide .service-type-detail {
  font-size: 16px;
  font-family: DubaiLight;
  color: #000;
  text-align: left;
  font-weight: lighter;
}
.read-more-btn {
  color: #3a71ea;
  text-align: left;
  font-weight: 700;
  font-family: 24px;
}
.first_slide {
  display: flex;
  flex-direction: column;
}
.title_service {
  font-family: DubaiLight;
  color: #3a71ea;
  font-size: 24px;
  text-align: left;
}

.carousel-inner .carousel-item {
  height: 10%;
}
.brandLogo {
  margin-top: 6%;
}
.first_home_div {
  position: relative;
}
.under_about_div_home {
  position: absolute;
  bottom: 1vh;
  left: 15vw;
}
.about_img_two_home {
  width: 100%;
}
.best_service_heading {
  font-family: DubaiBold;
  font-size: 40px;
  font-weight: 500;
}
.best_service_heading .co {
  color: #3a71ea;
}

.section_threee {
  position: relative;
  top: 15vh;
}
.heading_container {
  position: relative;
  top: 15vh;
}
.heading_container ::first-letter {
  color: rgb(47, 47, 246);
}
.caro_container {
  position: relative;
  top: 20vh;
}
.brandLogo .item .testimonial-block {
  /* border: 1px solid #3a71ea; */
  border-radius: 3%;
  /* padding: 100px 100px; */
  box-shadow: 0px 4px 4px 0px #ccc;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #3a71ea;
}
.brandLogo .item .testimonial-block .brandLogo-img {
  width: 60px;
  background-color: #fff;
  padding-top: 30px;
}
.brandLogo .item .testimonial-block p {
  text-transform: capitalize;
  font-size: 18px;
  width: 100%;
  padding: 30px 0px;
  text-align: center;
}
.brandLogo .item .testimonial-block .brandLogo img {
  max-height: 50px;
  /* margin-bottom: 20px; */
}

.testimonial-block {
  border-radius: 3%;
  box-shadow: 0px 4px 4px 0px #ccc;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #3a71ea;
}
.testimonial-block .brandLogo-img {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}
.testimonial-block p {
  text-transform: capitalize;
  font-size: 18px;
  width: 100%;
  padding: 20px 0px 20px 0px;
  text-align: center;
}
.testimonial-block .brandLogo img {
  max-height: 50px;
}

.about-img-container {
  padding: 150px 0px 0px 0px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
}
.about-img-container .graph-img {
  position: relative;
  height: 100%;
  margin: 0 150px 150px 0;
}
.about-img-container .milion-job-img {
  position: absolute;
  height: 100%;
  top: 250px;
  left: 346px;
  z-index: 1;
}
.graph-img img {
  position: relative;
  width: 100%;
}
.milion-job-img img {
  position: relative;
  width: 100%;
}

.milion_job_content {
  font-family: DubaiLight;
  text-align: left;
  padding: 70px 0px 0px 70px;
  color: #797979;
}
.milion_job_content p:nth-child(1) {
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 30px;
  font-family: DubaiLight;
}
.milion_job_content .find {
  margin: 0 0 0 30px;
  position: relative;
  font-size: 50px;
  font-weight: 300;
  color: #3a71ea;
  font-family: DubaiLight;
}

.milion_job_content p:nth-child(3) {
  padding-right: 50px;
  text-align: left;
  color: rgba(0, 0, 0, 0.55);
  font-size: 18px;
  font-family: DubaiLight;
  text-align: left;
}
.btn-container {
  display: flex;
  justify-content: start;
  align-items: start;
}
button.btn.more-btn.search-btn {
  border: 1px solid #3a71ea !important;
  padding: 20px;
  font-size: 25px;
  color: #3a71ea;
}
.milion_job_content_us {
  font-family: DubaiLight;
  text-align: left;
  padding: 170px 0px 0px 70px;
  color: #797979;
}
.milion_job_content_us p:nth-child(1) {
  padding-top: 50px;
  color: rgba(0, 0, 0, 0.55);
  font-size: 30px;
  font-family: DubaiLight;
}
.milion_job_content_us p:nth-child(2) {
  font-size: 18px;
}
.milion_job_content_us p:nth-child(3) {
  color: rgba(0, 0, 0, 0.55);
  font-size: 24px;
  font-family: DubaiLight;
  text-align: left;
}
.milion-job-img-choose-us_about img {
  width: 90%;
  height: 50%;
}
.countdown {
  margin-left: 5%;
  /* padding-left: 50px; */
  display: flex;
  justify-content: space-evenly;
  /* background-color: gray; */
  column-gap: 40px;
}
.countdown .completed-div {
  /* background-color: #fff; */
  box-shadow: 4px 4px 4px 1px #ccc;
  padding: 10px;
  width: 100%;
}
.countdown .completed-div h1 {
  color: #3a71ea;
  text-align: center;
}
.countdown .completed-div p {
  font-size: 24px;
  text-transform: uppercase;
  color: #3a71ea;
  text-align: center;
}
.btn-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
}
/* Home Page CSS END */
/* Service Page Css  START */

.service-title {
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 600;
  padding-bottom: 50px;
  font-family: DubaiBold;
}
.service-title p {
  color: #3a71ea;
  font-size: 30px;
}
.service-title p span {
  color: #605b5b;
}
.client .item,
.serviceitem,
.service_two .item {
  background-color: #fff;
  /* box-shadow: 1px 1px 1px 3px #3a71ea; */
  color: #000;
  font-family: DubaiBold;
  border-radius: 2%;
  width: 100%;
  border: 1px solid #3a71ea;
}

.banner_text {
  color: #3a71ea;
  font-size: 20px;
  z-index: 999;
  /* position: abslo; */
  position: absolute;
  top: 20%;
  left: 20%;

  flex-direction: column;
  text-align: center;
  width: 60%;
}
.banner_text h1 {
  text-align: center;
}

.banner_text button {
  border: 1px solid #3a71ea !important;
  padding: 20px;
  font-size: 25px;
  color: #3a71ea;
  cursor: pointer !important;
}
.fact {
  position: relative;
  width: 100%;
}
.fact .fact-item img {
  opacity: 0.6;
  background-color: #d50f0f;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.milion-job-img img {
  position: relative;
  width: 100%;
}
.read-more {
  color: #3a71ea;
  text-align: left;
  font-weight: 300;
  font-family: 16px;
}

.owl-carousel {
  margin-bottom: 4%;
}
.owl-nav {
  display: none;
}
@media screen and (min-width: 200px) and (max-width: 767px) {
  .testimonial-block {
    margin: 5% 0;
  }
  .about_img_res_home {
    width: 80%;
  }
  .about_img_two_home {
    width: 100%;
  }

  img.d-block.w-100 {
    height: 279px;
  }
  .banner_text {
    font-size: 14px;
    top: 10%;
  }
  .first_home_div {
    /* border: 2px solid black; */
    position: relative;
    top: 2vh;
  }
  .banner_text h1 {
    font-size: 18px;
    font-weight: 500;
  }
  .banner_text p {
    line-height: 16px;
  }
  .banner_text button {
    padding: 5px;
    font-size: 16px;
  }
  button.carousel-control-prev {
    display: none;
  }
  button.carousel-control-next {
    display: none;
  }
  .testimonial-block {
    margin: 5% 0%;
  }
  .milion_job_content .find {
    margin: 0;
    position: relative;
    font-size: 28px;
    text-align: center;
  }
  .milion_job_content p:nth-child(3) {
    margin: 0;
  }
  button.btn.more-btn.search-btn {
    padding: 7px;
    font-size: 20px;
  }
  .best_service_heading {
    font-family: DubaiBold;
    font-size: 40px;
    font-weight: 400;
    /* border: 1px solid red; */
  }
  .serviceitem {
    width: 100%;
  }

  .serviceitem {
    background-color: #fff;
    color: #000;
    font-family: DubaiBold;
    border-radius: 2%;
    width: 100%;
    border: 1px solid #3a71ea;
    height: 415px;
  }
  .milion_job_content_us {
    font-family: DubaiLight;
    text-align: center;
    padding: 0px 0px;
    color: #797979;
    width: 100%;
  }

  .first_home_div {
    /* border: 2px solid black; */
    position: relative;
  }
  .under_about_div_home {
    position: absolute;
    bottom: -12vh;
    left: 30vw;
    width: 70%;
    /* border: 2px solid black; */
  }
  .about_img_two_home {
    width: 90%;
  }
  .img_hm {
    width: 100%;
  }
  .home_img {
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons {
    display: flex;
    gap: 5vw;
    position: relative;
    top: 10vh;
    flex-direction: column;
    justify-content: space-around;
  }
  .find {
    width: 100%;
    position: relative;
    left: -10vw;
  }
  .section_threee {
    position: relative;
    top: -1vh;
  }
  .heading_container {
    position: relative;
    top: 7vh;
  }
  .content {
    position: relative;
    top: 6vh;
  }
  .serviceitem {
    margin-top: 2vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .carousel-indicators {
    display: none !important;
  }
  .testimonial-block {
    margin-top: 5%;
    height: 236px;
  }
  .testimonial-block p {
    font-size: 20px;
    width: 100%;
    font-weight: 400;
  }

  button.carousel-control-prev,
  button.carousel-control-next {
    display: none !important;
  }
  .graph-img img {
    position: relative;
    width: 70%;
  }
  .about-img-container .milion-job-img {
    position: absolute;
    height: 32%;
    top: 281px;
    left: 299px;
    z-index: 1;
  }
  .count_div {
    position: relative;
    top: 20vh;
  }
  .about_img_res_home {
    width: 70%;
  }
  .serviceitem {
    height: 100%;
    width: 100%;
  }
  button.btn.more-btn.search-btn {
    border: 1px solid #3a71ea !important;
    padding: 10px;
    font-size: 25px;
    color: #3a71ea;
  }
  .heading_container {
    padding: 5% 0px 0px 0px;
    top: 18vh;
  }
  .best_service_heading {
    font-family: DubaiBold;
    font-size: 40px;
    font-weight: 500;
    padding: 30px 0px;
  }
  .first_home_div {
    position: relative;
    top: 0;
  }
  .under_about_div_home {
    position: absolute;
    bottom: -14vh;
    left: 34vw;
  }
  .sider_service {
    position: relative;
    height: 100%;
    top: 14vh;
  }
  .about_img_two_home {
    width: 100%;
    top: 5%;
  }
  .img_hm {
    width: 100%;
  }
  .home_img {
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .milion_job_content {
    position: relative;
    top: 10%;
  }
}
