.card-container {
  border: 3px solid #3a71ea;
  width: 100%;
  border-radius: 2%;
  height: 60vh;
}
.card-container:hover {
  width: 98%;
  border-radius: 2%;
  box-shadow: 3px 3px 3px 6px gray;
  background-color: aliceblue;
}
.img-container {
  width: 100%;
  /* border: 1px solid gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24vh;
  background-color: aliceblue;
  border-radius: 4%;
}
.img-container img {
  padding: 10px;
  width: 80%;
  height: 98%;
}
.content-container {
  color: #3a71ea;
  padding: 10px;
  font-family: Poppins;
}
.content-container p {
  color: #000;
  padding: 0px 0px;
}
.carousel-indicators {
  display: none;
}
@media screen and (max-width: 767px) {
  .col-md-4.margin-res {
    margin: 5% auto;
  }
  .card-container {
    border: 3px solid #3a71ea;
    border-radius: 2%;
    height: 70vh;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .col-md-4.margin-res {
    margin: 3% auto;
  }
  .card-container {
    border: 3px solid #3a71ea;
    border-radius: 2%;
    height: 45vh;
    width: 100%;
  }
  .content-container {
    padding: 10px;
  }
  .content-container h3 {
    font-size: 14px;
  }
  .content-container p {
    font-size: 10px;
  }
  .content-container a {
    font-size: 10px;
  }
}
